//font families
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$poppins: "Poppins", sans-serif;

// colors
$white: #fff;
$lwhite: #f6f6f6;
$black: #000;
$green: #46af5a;
$blue: #232b4e;
$lblue: #0070f0;
$llblue: #565e75;
$grey: #989eb9;
$lgrey: #f7f7f7;
$red: #d11a2a;
$orange: #f9963d;
// 1rem = 10px

// Paragraphs
$primary-font-size: 16px;
$secondary-font-size: 14px;
$tertiary-font-size: 12px;

// Headings
$h1-font-size: 5.2rem;
$h2-font-size: 4.2rem;
$h3-font-size: 2.4rem;
$h4-font-size: 18px;
$h5-font-size: 2rem;
$h6-font-size: 16px;

// text colors
.text-black {
  color: $black !important;
}
.text-white {
  color: $white !important;
}
.text-green {
  color: $green !important;
}
.text-blue {
  color: $blue !important;
}
.text-llblue {
  color: $llblue !important;
}
.text-grey {
  color: $grey !important;
}
.text-red {
  color: $red !important;
}
.text-orange {
  color: $orange !important;
}
/*bg colors*/
.bgwhite {
  background-color: $lwhite;
}
.h-100vh {
  min-height: 50vh;
}
/*margins*/
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-75 {
  margin-bottom: 75px !important;
}
.mt-75 {
  margin-top: 75px !important;
}
.mb-85 {
  margin-bottom: 85px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.px-6 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}
.mr-60 {
  margin-right: 60px !important;
}

.pointer {
  cursor: pointer !important;
}
.text-decoration-border {
  border-bottom: 1px solid;
}
html,
body {
  height: 100%;
  font-size: 10px;
}
* {
  font-family: $poppins;
}
p {
  font-family: $poppins;
  font-size: $primary-font-size;
  font-weight: 400;
  color: $llblue;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18rem !important;
}
.fs-20 {
  font-size: 2rem !important;
}
.fs-24 {
  font-size: 2.4rem !important;
}
.fs-30 {
  font-size: 3rem !important;
}
a {
  font-family: $poppins;
  color: $lblue;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    text-decoration: none;
  }
}

.mytes {
  display: block;
  color: red;
}
